.login
{
    
margin-left: 300px;
margin-top: 100px;
margin-bottom: 200px;
margin-right: 700px;
border-style: solid;
border-color: blueviolet;
border-radius: 6px;
border-width: 3px;
padding:50px 50px 50px 50px;
background-color: antiquewhite;
scale:1.05;
}
span{
    display:flex;
   gap: 10px;
}